{% extends "layout.html" %}

{% block body %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Admin Panel</h1>
                    <span class="subheading">Manage your posts</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h2 class="text-center my-4">Posts Dashboard</h2>
            <h1>Basic Actions</h1>
            <a href="/dashboard">
                <button class="btn btn-primary">Dashboard Home</button>
            </a>
            <a href="/logout">
                <button class="btn btn-primary">Logout</button>
            </a>
            <hr>
            <h1>Add/Edit Posts</h1>
            <form id="postForm" action="/edit/{{ sno }}" method="post">
                <div class="form-floating">
                    <input class="form-control" id="title" name="title" type="text" value="{{ post.title if post else '' }}" placeholder="Enter title" required />
                    <label for="title">Title</label>
                    <div class="invalid-feedback">A title is required.</div>
                </div>
                <div class="form-floating">
                    <input class="form-control" id="slug" name="slug" type="text" value="{{ post.slug if post else '' }}" placeholder="Enter slug" required />
                    <label for="slug">Slug</label>
                    <div class="invalid-feedback">A slug is required.</div>
                </div>
                <div class="form-floating">
                    <input class="form-control" id="tline" name="tline" type="text" value="{{ post.tagline if post else '' }}" placeholder="Enter tagline" required />
                    <label for="tline">Tagline</label>
                    <div class="invalid-feedback">A tagline is required.</div>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" id="content" name="content" placeholder="Enter content" style="height: 12rem" required>{{ post.content if post else '' }}</textarea>
                    <label for="content">Content</label>
                    <div class="invalid-feedback">Content is required.</div>
                </div>
                <br />
                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
